<%- include('../partial/header') %> 

<div class="container">
  <h2 class="mt-5 mb-3">Create a new task</h2>
  <form action="/task/create" method="post">
    <div class="mb-3">
      <label for="inputTask">Task:</label>
      <input autofocus type="text" class="form-control shadow-none mb-3" id="inputTask" name="Task">
      <label for="inputStatus">Status:</label>
      <select disabled class="form-select shadow-none" id="inputStatus" name="Status">
        <option value="In progress" selected>In progress</option>
      </select>
    </div>         
    <button type="submit" class="btn btn-primary">Add</button>
    <a class="btn btn-outline-dark cancel" href="/">Cancel</a>
  </form>
</div>

  <%- include('../partial/footer') %> 